<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="СУБД_Домашний_питомец.Properties.Settings.PetShopBAUConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=PetShopBAU;Persist Security Info=True;User ID=u21baranov;Password=au5p;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>